body{
  background-image: linear-gradient(hsla(0, 0%, 0%,0.3),hsla(0, 0%, 0%,0.3)) ,url('static/images/house-to-let-5.jpg');
  background-repeat: no-repeat;
  background-size: 1600px 900px;
  background-attachment: fixed;
}
.header{
      padding: 20px;
      text-align: center;
      color: rgba(255, 255, 255, 0.99);
      border-bottom: double;
      border-bottom-style: solid;
      border-bottom-color: white;
      border-bottom-width: 6px;
      
      
  }
  

ul#list-nav {
      list-style:none;
      margin:20px;
      padding:0;
      width:525px
    }
    
ul#list-nav li {
      display:inline
    }
    
ul#list-nav li a {
      text-decoration:none;
      padding:5px 0;
      width:100px;
      background:hsl(246, 100%, 50%);
      color:#eee;
      float:left;
      text-align:center;
      border-left:1px solid #fff;
    }
    
ul#list-nav li a:hover {
      background:#ffffff;
      color:#000;
      box-shadow: 0 0 10px rgb(254, 254, 255);
    }
.login{
        float: right;
        padding-right: 400px;
        font-size: 29px;
        font-weight: bold;
        text-decoration: none;
        color: rgb(0, 0, 0);
        transition: all .5s ease;
    }
.login a:hover{
      background-color: white;
      color: blue;
      box-shadow: 0 0 10px rgb(24, 184, 212);
    }

.testing{
      text-align: left;
      color: rgb(0, 0, 0);
      display: flex;
      font-size: x-large;
    }
#test{
  background-color: rgba(0, 0, 0, 0.7);
  border-radius:2rem;
}

#font{
  font-family: 'Libre Baskerville', serif;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  
}
.m-4{
  color:white;
 
}
